body{
    align-items: center;
    background-color: #374151;}
/* .outer{ 
    width: 800px;
    height: 600px;
    border: 1px;
    color: blue;
    background-color: #E85D04;
    position: fixed;
    margin-left: 250px; 
    
} */
.inner{
    width: 90%;
    height: 600px;
    border: 1px;
    background-color: white;
    margin-top: 15px;
    position: fixed;
    margin-left: 70px;
    scroll-behavior: auto;
    opacity: 70%;

    
    
    }
    .inner-right{
        width: 45%;
        height: 520px;
        border: 1px;
        background-color: #374151;
        margin-top: 30px;
        margin-left: -570px;
        position: relative;
        border-radius: 10px;

    }
    .inner-left{
        width: 45%;
        height: 520px;
        border: 1px;
        background-color:  #374151;
        margin-top: -520px;
        margin-left: 570px;
        border-radius: 10px;
        

    }
    .inside-inner{
        width: 100px;
        height: 110px;
        background-color:white;
        margin-left: 350px;
        margin-top: -67px;
        border-radius: 4px;

    }
        .inside-innerbig{
            width: 450px;
            height: 350px;
            background-color:white;
            margin-left:-0px;
            margin-top: 20px;
            padding-inline-start: 0%;
            border-radius: 4px;
            
        }
        .one-photo{
            width: 430px;
            height: 160px;
            background-color: white;
            margin-top: -330px;
        
       }
       .explanation{
    
        border: none;
        width: 200px;
        height:150px ;
        margin-top: -130px;
        margin-left:210px;
        
        

       }



       button{
        border: none;
        border-radius: 10px;
        color: white;
        size: 20px;
       }  
       .circularvid{
        width: 20%;
        height: 10%;
        margin-left: 110px;
        margin-top: 20px;
        border-radius:50%;
        background-color: white;
        align-items: center;
        color: #E85D04;
        position: fixed;

       } 

               
       .inner-left-bottom{
        width: 33%;
        height: 25%;
        margin-left: -90px;
        margin-top: 22px;
        background-color:#84A068;
        align-items: center;
        color: #E85D04;
        position: fixed;
        text-align: center;
        border-radius: 4px;
        
       }    
       .inner-left-bottom-for-text{
        width: 120px;
        height: 150px;
        border: none;
        margin-top: -170px;
        margin-left: 295px;
        color:white;
        font-weight: 100;  
        border-radius: 4px;          

       }
       .text{
        width: 300px;
        height: 50px;
        background-color:#E85D04;
        margin-left:-100px;
        color:white ;
        padding: 10px;
       }
       li {
        display: inline;
        padding: 3px 0px 10px 100px ;
        margin-top: -30px;
        font-size: 20px;
        color: white;
       }
        a,li{
        text-decoration: none;
        
       }
       ul,a,li:hover{
        color:red; 
       }
       
